<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taoye.labor_dispatch.mapper.IntialDescriptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taoye.labor_dispatch.entity.IntialDescription">
        <id column="id" property="id" />
        <result column="intial_description" property="intialDescription" />
        <result column="group_affiliation" property="groupAffiliation" />
        <result column="upstream_labor_company_id" property="upstreamLaborCompanyId" />
        <result column="wechat_number" property="wechatNumber" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="wechat_name" property="wechatName" />
        <result column="company_name" property="companyName" />
        <result column="job_name" property="jobName" />
        <result column="salary" property="salary" />
        <result column="location" property="location" />
        <result column="experience" property="experience" />
        <result column="education" property="education" />
        <result column="duty" property="duty" />
        <result column="requirement" property="requirement" />
        <result column="welfare" property="welfare" />
        <result column="contact" property="contact" />
        <result column="phone" property="phone" />
        <result column="job_type" property="jobType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, intial_description, group_affiliation, upstream_labor_company_id, wechat_number, remark, create_time, update_time, is_delete, wechat_name, company_name, job_name, salary, location, experience, education, duty, requirement, welfare, contact, phone, job_type
    </sql>

    <resultMap id="IntialDescriptionVo" type="com.taoye.labor_dispatch.entity.vo.IntialDescriptionVo" >
        <result column="intial_description" property="intialDescription" />
        <result column="group_affiliation" property="groupAffiliation" />
        <result column="upstream_labor_company_id" property="upstreamLaborCompanyId" />
        <result column="wechat_number" property="wechatNumber" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="wechat_name" property="wechatName" />
        <result column="company_name" property="companyName" />
        <result column="job_name" property="jobName" />
        <result column="salary" property="salary" />
        <result column="location" property="location" />
        <result column="experience" property="experience" />
        <result column="education" property="education" />
        <result column="duty" property="duty" />
        <result column="requirement" property="requirement" />
        <result column="welfare" property="welfare" />
        <result column="contact" property="contact" />
        <result column="phone" property="phone" />
        <result column="job_type" property="jobType" />
    </resultMap>

    <select id="query" resultMap="IntialDescriptionVo">
        SELECT
            a.id,
            a.group_affiliation,
            a.upstream_labor_company_id,
            a.remark,
            a.create_time,
            a.update_time,
            a.is_delete ,
            a.intial_description ,
            a.wechat_name,
            a.company_name,
            a.job_name,
            a.salary,
            a.location,
            a.experience,
            a.education,
            a.duty,
            a.requirement,
            a.welfare,
            a.contact,
            a.phone,
            a.job_type,
            b.wechat_number
        from intial_description a
        left join upstream_labor_company b  on a.upstream_labor_company_id = b.id
        <include refid="query_where" />
        ORDER BY a.create_time DESC
    </select>

    <sql id="query_where">
        <where>

            <if test="wechatNumber !=null and wechatNumber !='' ">
                and a.wechat_number = #{wechatNumber ,jdbcType=VARCHAR}
            </if>

            <if test="createTime != null">
                and  a.create_time &gt;= #{createTime,jdbcType=TIMESTAMP}
            </if>

            <if test="updateTime != null">
                and  a.update_time &lt;= #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="ids != null and ids.size > 0">
                and a.id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id, jdbcType=BIGINT}
                </foreach>
            </if>


            <if test="createTimeFrom != null and createTimeFrom!= ''">
                and  a.create_time &gt;= #{createTimeFrom,jdbcType=TIMESTAMP}
            </if>

            <if test="createTimeTo != null and createTimeTo !=''">
                and  a.create_time &lt;= #{createTimeTo,jdbcType=TIMESTAMP}
            </if>


            <if test="isDelete != null">
                and  a.is_delete = #{isDelete,jdbcType=TINYINT}
            </if>

        </where>


    </sql>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(*)
        from intial_description a
        <include refid="query_where" />
    </select>

</mapper>
